
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(97, 108, 171);
}

#sub-title {
  color: rgb(97, 108, 171);
}

.all-collapsibles {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: palevioletred; */
}

.page-body {
  display: flex;
  flex-direction: row;
  /* background-color: black; */
}